.accordion{
    button{
        width: 100%;
        padding: 20px;
    }
    p{
        margin-left: 10px;
        display: none;
    }
    .text-container{
        background-color: rgb(238, 238, 238);
        padding: 0.1px;
    }
    .container-div{
        margin-top: -1px;
    }
}
